* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40em;
    background-color: rgb(123, 179, 41);
}

.welcome{
    color: rgb(5, 5, 71);
    font-weight: bold;
    margin-top:30px;

    
}

.container{
    width:100%;
    height: 100vh;
    
}

.wholeGame{
    margin-top: 10%;
}   

p {
    justify-content: left;
}

#players{
    align-items: start;
    justify-content: left;
    height: 10em;
    position: top;
    font-size: 1.5rem;
}

.Briefcase{
    font-size: 5rem;
    cursor: pointer;
    user-select: none;
    float:right;

}

.closed {
    display: none;
}

.opened {
    display: none;
}

.active {
    display: block;
}

.Briefcase1{
    font-size: 5rem;
    cursor: pointer;
    user-select: none;
    float:left;

}

.closed1 {
    display: none;
}

.opened1 {
    display: none;
}

.active1 {
    display: block;
}


.Briefcase2{
    font-size: 5rem;
    cursor: pointer;
    user-select: none;
    float: left;
}

.closed2 {
    display: none;
}

.opened2 {
    display: none;
}

.active2 {
    display: block;
}
